<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>

    <link rel="stylesheet" href="public/css/style.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- VueJs -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <!-- React -->
    <script crossorigin src="https://unpkg.com/react@17/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>

</head>
<body>

<nav class="navbar navbar-expand-lg bg-success navbar-dark">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="public/images/LOGO3.jpg" alt="logo" class="logo" style=" width:100px;">
        </a>
        <!-- <a href="/" class="navbar-brand">Bootstrap 4</a> -->
        <button class="navbar-toggler float-right" type="button" data-toggle="collapse" data-target="#navbar9">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbar9">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    
                    <a class="nav-link" href="index.html">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="form.html">Contacto</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!--  -->

    
   
    <!-- Container -->
    <div class="container " style="margin-top:30px">
        <div class="row">
            <div class="col-sm-4 ">

               

            </div>

            <div class="col-sm-4 ">

                <div class="row">
                    <div class="col-sm-12  justificarDiv">
                        <div>
                            <label class="centerText normalText titulo">Iniciar </label><label class="centerText negritaText titulo">Sesion</label>
                        </div>
                            
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 ">
                        
                        <div class="mb-3" id="formulario">
                            <label for="exampleFormControlInput1" class="margenTexto">Nombre</label>
                            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                          </div>
                          <div class="mb-3 ">
                            <label for="exampleFormControlTextarea1"  class="margenTexto">Contraseña</label>
                            <input class="form-control" v-model="contenido" id="exampleFormControlTextarea1" rows="3" placeholder="nada"></input>
                            <br>
                            <a href="#" class="text-bg-rosa">olvide mi contraseña</a>
                            <br> <br> 

                            <div class="justificarDiv">
                                <div class="col-12  justificarDiv">
                                    <button class="btn-color-rosa  btnAjustes" type="button">Enviar</button>
                                </div>
                            </div>

                            
                        </div>
                       
        
                    </div>
                </div>
                
            </div>

            <div class="col-sm-4 ">

            </div>
        </div>
        <hr>

        <div class="row">
            <div class="col-sm-12  justificarDiv">
                <div>
                    <label class="centerText normalText titulo">Crear</label><label class="centerText negritaText titulo"> Cuenta</label>
                </div>
                    
            </div>

          
        </div>

        <div class="row">
            <div class="col-sm-6  hrVertical">
                
                <div  class=" margenForm">
                    <div>
                        <div class="justificarDiv">
                            <img src="public/images/recortes-29 (1).png"  class="imagenRandom" alt="" sizes="" srcset="">
                        </div>
                        
                    </div>
                    <div class="justificarDiv">
                        <div>
                            <label class="centerText normalText titulo">Soy </label><label class="centerText negritaText titulo"> Coleccionista</label>
                        </div>
                       
                    </div>
                    <div>
                        <p class="centerText">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos eius autem error explicabo. </p>
                    </div>

                    <div class="mb-3" id="formulario">
                        <label for="exampleFormControlInput1" class="margenTexto">Nombre</label>
                        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                    </div>
                    <div class="mb-3" id="formulario">
                        <label for="exampleFormControlInput1" class="margenTexto">Nombre</label>
                        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                    </div>
                        <div class="mb-3" id="formulario">
                            <label for="exampleFormControlInput1" class="margenTexto">Nombre</label>
                            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                        </div>
                        <div class="mb-3 ">
                        <label for="exampleFormControlTextarea1"  class="margenTexto">Contraseña</label>
                        <input class="form-control" v-model="contenido" id="exampleFormControlTextarea1" rows="3" placeholder="nada"></input>
                        <br>

                        <input type="checkbox" name="" id="">
                        <span> Al registrame acepto las</span>
                        <a href="#" class="text-bg-rosa">Politicas de privacidd </a>
                        <span> y los </span>
                        
                        <a href="#" class="text-bg-rosa">Terminos y condiciones </a>
                        <br> <br> 

                        <div class="justificarDiv">
                            <div class="col-12  justificarDiv">
                                <button class="btn-color-rosa btnAjustes" type="button">Enviar</button>
                            </div>
                        </div>

                        
                    </div>
                    
                </div>




                
               

            </div>
            <div class="col-sm-6  verticalDivPadre ">

                <div class=" verticalDivHijo ">
                    <div class="margenForm">
                        <div>
                            <div class="justificarDiv">
                                <img src="public/images/recortes-30 (1).png"  class="imagenRandom" alt="" sizes="" srcset="">
                            </div>
                            
                        </div>
                        <div class="justificarDiv">
                            <div>
                                <label class="centerText normalText titulo">Soy </label><label class="centerText negritaText titulo"> Coleccionista</label>
                            </div>
                           
                        </div>
                        <div>
                            <p class="centerText">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos eius autem error explicabo. </p>
                        </div>
    
    
                        <div class="mb-3" id="formulario">
                          
                            <div class="justificarDiv">
                                <div class="col-12  justificarDiv">
                                    <button class="btn-color-rosa  btnAjustes" type="button">Enviar</button>
                                </div>
                            </div>
    
                            
                        </div>
                        


                    </div>
                </div>
            </div>

        </div>
        <hr>

    </div>

    


   

 
    
</body>

<script src="public/js/index.js"></script>

</html>