<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>

    <link rel="stylesheet" href="public/css/style.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- VueJs -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <!-- React -->
    <script crossorigin src="https://unpkg.com/react@17/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>

</head>
<body>

<nav class="navbar navbar-expand-lg bg-morado navbar-dark">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="public/images/logo_blanco.png" alt="logo"  style=" width:135px;">
        </a>
        <!-- <a href="/" class="navbar-brand">Bootstrap 4</a> -->
        <button class="navbar-toggler float-right" type="button" data-toggle="collapse" data-target="#navbar9">
            <span class="navbar-toggler-icon"></span>
        </button>

 

        
        <div class="navbar-collapse collapse" id="navbar9">

            <!-- Center -->
            <div class="row">
                
            </div>
            <ul class="navbar-nav navbar-center">

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle colorTextWhite" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                        
                        <B>Obras</B>
                    </a>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="#">Action</a>
                    </div>
                  </li>


                 <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle colorTextWhite" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><B>
                    
                    </B>Artistas</a>
                    <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Action</a>
                    </div>
                </li>
            </ul>

            <!-- Rigth -->
            
            
            <ul class="navbar-nav ml-auto">

                <li class="nav-item">
                    
                    <a class="navbar-brand" href="#">
                        <img src="public/images/recortes-57 (1).png" alt="logo"  style=" width:20px;">
                    </a>
                </li>
                <li class="nav-item">
                    <a class="navbar-brand" href="#">
                        <img src="public/images/recortes-58 (1).png" alt="logo"  style=" width:20px;">
                    </a>
                </li>
                <li class="nav-item">
                    
                    <a class="navbar-brand" href="#">
                        <img src="public/images/recortes-59 (1).png" alt="logo"  style=" width:20px;">
                    </a>
                </li>
                <li class="nav-item">
                    <a class="navbar-brand" href="#">
                        <img src="public/images/recortes-60 (1).png" alt="logo"  style=" width:20px;">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!--  -->

    
   
    <!-- Container -->
    <div class="container " style="margin-top:30px">
        <div class="row">
            <div class="col-sm-4 ">

               

            </div>

            <div class="col-sm-4 ">

                <div class="row">
                    <br>
                    <div class="col-sm-12  justificarDiv">
                        <div>
                            <br>
                            <span class="centerText normalText titulo">Iniciar</span><span class="centerText negritaText titulo colorText"> sesion</span>
                        </div>
                            
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 ">
                        
                        <div class="mb-3" id="formulario">
                            <label for="exampleFormControlInput1" class="margenTexto colorText">Nombre</label>
                            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                          </div>
                          <div class="mb-3 ">
                            <label for="exampleFormControlTextarea1"  class="margenTexto colorText">Contraseña</label>
                            <input class="form-control" v-model="contenido" id="exampleFormControlTextarea1" rows="3" placeholder="nada"></input>
                            <br>
                            <a href="#" class="text-bg-rosa">Olvide mi contraseña</a>
                            <br> <br> 

                            <div class="justificarDiv">
                                <div class="col-12  justificarDiv">
                                    <button class="bg-rosa  btnAjustes" type="button">Entrar</button>
                                </div>
                            </div>

                            
                        </div>
                       
        
                    </div>
                </div>
                
            </div>

            <div class="col-sm-4 ">

            </div>
        </div>
        <hr>

        <div class="row">
            <div class="col-sm-12  justificarDiv">
                <div>
                    <span class="centerText normalText titulo colorText">Crear</span><span class="centerText negritaText titulo colorText" >cuenta</span>
                </div>
                    
            </div>

          
        </div>
        <br>

        <div class="row">
            <div class="col-sm-12 col-md-6 hrVertical">
                
                <div  class=" margenForm">
                    <div>
                        <div class="justificarDiv">
                            <img src="public/images/recortes-29 (1).png"  class="imagenRandom" alt="" sizes="" srcset="">
                        </div>
                        
                    </div>
                    <div class="justificarDiv">
                        <div>
                            <span class="centerText normalText titulo">Soy</span><span class="centerText negritaText titulo colorText"> coleccionista</span>
                        </div>
                       
                    </div>
                    <br>
                    <div>
                        <p class="centerText colorText">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos eius autem error explicabo. </p>
                    </div>

                    <div class="mb-3" id="formulario">
                        <label for="exampleFormControlInput1" class="margenTexto colorText">Nombre completo</label>
                        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                    </div>
                    <div class="mb-3" id="formulario">
                        <label for="exampleFormControlInput1" class="margenTexto colorText">Tu correo</label>
                        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                    </div>
                        <div class="mb-3" id="formulario">
                            <label for="exampleFormControlInput1" class="margenTexto colorText">Contraseña</label>
                            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                        </div>
                        <div class="mb-3 ">
                        <label for="exampleFormControlTextarea1"  class="margenTexto colorText">Repetir contraseña</label>
                        <input class="form-control" v-model="contenido" id="exampleFormControlTextarea1" rows="3" placeholder="nada"></input>
                        <br>

                        <input type="checkbox" name="" id="">
                        <span class="sizeText colorText"> Al registrame acepto las</span>
                        <a href="#" class="text-bg-rosa sizeText">Politicas de privacidd </a>
                        <span class="sizeText colorText"> y los </span>
                        
                        <a href="#" class="text-bg-rosa sizeText">Terminos y condiciones </a>
                        <br> <br> 

                        <div class="justificarDiv">
                            <div class="col-12  justificarDiv">
                                <button class="bg-rosa btnAjustes" type="button">Crear cuenta</button>
                            </div>
                        </div>

                        
                    </div>
                    
                </div>




                
               

            </div>
            <div class="col-sm-12 col-md-6   verticalDivPadre ">

                <div class=" verticalDivHijo ">
                    <div class="margenForm">
                        <div>
                            <div class="justificarDiv">
                                <img src="public/images/recortes-30 (1).png"  class="imagenRandom" alt="" sizes="" srcset="">
                            </div>
                            
                        </div>
                        <div class="justificarDiv">
                            
                            <div>
                                <span class="centerText normalText titulo colorText">Soy</span><span class="centerText negritaText titulo colorText"> artista</span>
                            </div>

                           
                           
                        </div>
                        <br>
                        <div>
                            <p class="centerText colorText">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos eius autem error explicabo. </p>
                        </div>
    
    
                        <div class="mb-3" id="formulario">
                          
                            <div class="justificarDiv">
                                <div class="col-12  justificarDiv">
                                    <button class="bg-rosa  btnAjustes" type="button">Aplicar ahora</button>
                                </div>
                            </div>
    
                            
                        </div>
                        


                    </div>
                </div>
            </div>

        </div>
        <hr>

    </div>

    


   

 
    
</body>

<script src="public/js/index.js"></script>

</html>