.centerText{ text-align : center; }
.normalText{ font-weight : normal; }
.negritaText{ font-weight : bold; }

.centrarDiv{
  /* height: 300px;
  width: 300px; */
  background-color: powderblue;
  display:block;
  margin:auto;
}

.justificarDiv{
  display:flex;
  justify-content: center;
  align-items: center;
}

.margenTexto{
  margin: 8px;
}


.text-bg-rosa{
  color:blueviolet;
}
