.centerText{ text-align : center; }
.normalText{ font-weight : normal; }
.negritaText{ font-weight : bold; }

.titulo{
  font-size: 16px;
}

.centrarDiv{
  /* height: 300px;
  width: 300px; */
  background-color: powderblue;
  display:block;
  margin:auto;
}

.justificarDiv{
  display:flex;
  justify-content: center;
  align-items: center;
}

.margenTexto{
  margin: 12px;
}

.btn-color-rosa{
  
  /* margin: 12px; */
  background-color: blueviolet;
}

.text-bg-rosa{
  color:blueviolet;
}
